*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Rubik;
}
.nav img{
    height:20px;
    width: auto;
    margin: 30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #fdf2e9;
    position: fixed;
    width: 100vw;
    z-index: 100;

}
.option{
    display:flex;
    justify-content: flex-end;
    align-items:center;

}
.nav ul{
    display: flex;
    list-style-type: none;
}
.nav li{
    margin-left: 40px;
    margin-top: 2px;
    font-size: large;
}
 .option button{
    box-sizing: border-box;
    outline: none;
    background-color: #fdf2e9;
    border: none;
    font-size: large;
    background-color: #e67e22;
    color: #fdf2e9;
    border-radius: 5px;
    padding: 10px;
    height: auto;
    width:auto;
    margin-left:40px;
    margin-right:40px;
}

.section1{
    display:flex;
    justify-content: center;
    background-color: #fdf2e9;
    position:inherit;
    padding-top:8%;
    
}

.textpart{
    width: 41vw;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}
.imagepart{
    width:40vw;
    height: auto;
    padding: 20px;
}
.textpart h1{
    padding: 20px;
    font-size: 3em;
    margin-left: 40px;
    color: #333333;
}

.textpart p{
    padding: 20px;
    padding-bottom: 0;
    font-size: 1.5em;
    margin-left: 40px;
    color: #333333;
}

.textpart ul{
    padding-top: 5px;
    padding-left: 40px;
    font-size: 1.5em;
    margin-left: 40px;
    color: #333333;
    
    font-weight: 800;
    line-height: 30px;
}



.imagepart img{

    margin-left: 22%;
    width:100%;
    height: auto;
    margin-bottom: 10px;
}

.buttoundiv{
    display: flex;
    justify-content:space-between;
    height:auto;
    width: 100%;
    margin:40px;
    padding:20px 80px 10px 20px;
    
}

.buttoundiv button{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    background-color: #fdf2e9;
    border: none;
    font-size: large;
    background-color: #e67e22;
    color: #fdf2e9;
    border-radius: 5px;
    padding:3% 9% 3% 9%;  
     /* margin: 10px; */
    height: auto;
    width:auto;
    font-size: 140%;
    font-weight: 500;
    
}
.customerrivew{
    display: flex;
    justify-content: center;
    align-items:center;
    height: auto;
    width: auto;
}

.customerimg{
    /* margin-top: 40px; */
    margin-left: 40px;
    margin-right: 20px;
    /* padding: 20px; */
    display: flex;

}
.customerimg img{
    border-radius: 50%;
    margin-left:-20px;
    border: 5px solid #fdf2e9;
    height: 60px;
    width:auto;
}
.customerNumber{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.customerNumber h3{
    font-size: large;
    color: #e67e22;
}
.customerNumber p{
    font-size: medium;
    margin: 0;
}

/* partner compines or news image */


.partnerwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h3{

    margin: 30px 0px;
    
}
.partnerwrapper{
    margin:20px;
}
.partnerwrapper img{

    height:30px;
    margin:0px 20px;
    filter: grayscale(100%);

}



/* section3 title CSS STRAT  */

.sec3title{

    padding-left:160px;
    margin:90px 0px;
}

.sec3title h4{
    margin-bottom: 20px;
    font-size: large;
}

.step3wrap{
    width:100vws;
    height: auto;
    padding: 40px;
    display: flex;

}

.step3text{
    width: 50%;
    height:auto;
    padding: 80px;
}

.step3text h1{
    font-size:5em;
}

.step3text h4{
    font-size:2em;
    padding: 20px 0px;
}

.step3text p{
    font-size:medium;
}

.step3image{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.step3image img{
    height: auto;
    width: 30%;
}
button{
    cursor: pointer;
}

.sec4wrap{
    margin-top: 100px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sec4heading{
    margin-bottom: 40px;
}

.sec4cardwrap{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    
}

.card1{
    width:30%;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 2px 2px 5px 3px rgba(91, 90, 90, 0.24) , -2px -2px 5px 3px rgb(218, 216, 216); 
    background: linear-gradient(to bottom right,  rgb(218, 216, 216), rgba(91, 90, 90, 09));
}
.cardimg{
    border-radius: 8px;
    box-shadow: 2px 2px 5px 3px rgba(91, 90, 90, 0.24) ;
    width:90%;
    background: transparent;
}
.cardimg img{
    border-radius: 8px;
    width: 100%;
}
.cardtext{
    background: transparent;
}